In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [24]:
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.utils import to_categorical

tf.__version__

'2.1.0'

In [3]:
# datasets
wages = pd.read_csv('./hourly_wages.csv')
titanic = pd.read_csv('./titanic_all_numeric.csv')
tipred = pd.read_csv('./titanic_pred.csv').to_numpy(np.float32)

# Creating a `keras` model

## Specifying a model

In [7]:
wages.head()

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
0,5.10,0,8,21,35,1,1,0,1,0
1,4.95,0,9,42,57,1,1,0,1,0
2,6.67,0,12,1,19,0,0,0,1,0
3,4.00,0,12,4,22,0,0,0,0,0
4,7.50,0,12,17,35,0,1,0,0,0

In [10]:
predictors = wages.loc[:, 'union':'construction'].to_numpy(int)
target = wages['wage_per_hour'].to_numpy(float)

In [12]:
# define model arch
n_cols = predictors.shape[1]

model = Sequential()

model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
model.add(Dense(32, activation='relu'))
model.add(Dense(1))

# Compiling and fitting a model

## Compiling the model

In [13]:
model.compile(optimizer='adam',
              loss='mean_squared_error')
# verify that model contains information from compiling
print(f'Loss fxn: {model.loss}')

Loss fxn: mean_squared_error

## Fitting the model

In [15]:
model.fit(predictors, target,
          epochs=10)

Train on 534 samples
Epoch 1/10
534/534 [==============================] - 0s 187us/sample - loss: 24.7014
Epoch 2/10
534/534 [==============================] - 0s 188us/sample - loss: 22.3459
Epoch 3/10
534/534 [==============================] - 0s 185us/sample - loss: 21.6057
Epoch 4/10
534/534 [==============================] - 0s 172us/sample - loss: 21.4185
Epoch 5/10
534/534 [==============================] - 0s 165us/sample - loss: 21.2306
Epoch 6/10
534/534 [==============================] - 0s 187us/sample - loss: 21.1330
Epoch 7/10
534/534 [==============================] - 0s 187us/sample - loss: 21.0232
Epoch 8/10
534/534 [==============================] - 0s 168us/sample - loss: 20.9611
Epoch 9/10
534/534 [==============================] - 0s 182us/sample - loss: 20.9745
Epoch 10/10
534/534 [==============================] - 0s 180us/sample - loss: 20.6617

# Classification models

In [16]:
print(titanic.shape)
titanic.head()

(891, 11)

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [18]:
predictors = titanic.iloc[:, 1:].to_numpy(float)
target = to_categorical(titanic['survived'])

In [23]:
# define model arch, compile, and fit
model = Sequential()

n_cols = predictors.shape[1]
model.add(Dense(32, activation='relu', input_shape=(n_cols,)))
model.add(Dense(2, activation='softmax'))

model.compile(optimizer='sgd',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

model.fit(predictors, target,
          epochs=10)

Train on 891 samples
Epoch 1/10
891/891 [==============================] - 0s 442us/sample - loss: 2.5017 - accuracy: 0.6251
Epoch 2/10
891/891 [==============================] - 0s 164us/sample - loss: 0.8439 - accuracy: 0.6622
Epoch 3/10
891/891 [==============================] - 0s 158us/sample - loss: 0.6638 - accuracy: 0.6756
Epoch 4/10
891/891 [==============================] - 0s 166us/sample - loss: 0.6663 - accuracy: 0.6655
Epoch 5/10
891/891 [==============================] - 0s 163us/sample - loss: 0.5943 - accuracy: 0.6925
Epoch 6/10
891/891 [==============================] - 0s 176us/sample - loss: 0.5998 - accuracy: 0.6835
Epoch 7/10
891/891 [==============================] - 0s 177us/sample - loss: 0.6058 - accuracy: 0.6880
Epoch 8/10
891/891 [==============================] - 0s 165us/sample - loss: 0.5960 - accuracy: 0.6756
Epoch 9/10
891/891 [==============================] - 0s 169us/sample - loss: 0.5880 - accuracy: 0.7082
Epoch 10/10
891/891 [==============================] - 0s 167us/sample - loss: 0.5867 - accuracy: 0.7003

# Using models

## Making predictions

In [28]:
preds = model.predict(tipred)

In [29]:
pred_true = preds[:, 1]
print(pred_true)

[0.27983826 0.43238515 0.6954076  0.4690146  0.20384692 0.19020073
 0.07631981 0.33328623 0.24456501 0.55491936 0.22227399 0.32883948
 0.23291975 0.37582448 0.19662976 0.11119047 0.29551512 0.4611388
 0.11883508 0.3987352  0.66594094 0.22676112 0.08018222 0.36313394
 0.37746805 0.20866494 0.5259462  0.5563505  0.21935447 0.5991905
 0.37299243 0.45917684 0.21053223 0.24182013 0.28495723 0.66722673
 0.268237   0.21683882 0.51637954 0.49619746 0.26410934 0.3551611
 0.5074263  0.15997595 0.29864848 0.13312568 0.35460246 0.17421415
 0.4667636  0.7170349  0.3759717  0.04051192 0.41623178 0.58711684
 0.35093227 0.3824733  0.83910817 0.3505716  0.44735116 0.21053223
 0.14522569 0.288523   0.40968534 0.3660349  0.34046283 0.2706987
 0.33242056 0.5655501  0.23703884 0.39334068 0.22238797 0.5080314
 0.19570374 0.12617649 0.42991823 0.3550309  0.29554254 0.27099556
 0.21476558 0.6479223  0.46312165 0.18054341 0.34855932 0.28212863
 0.217288   0.45993686 0.32634637 0.52797586 0.4083232  0.50589216
 0.19006819]